@model Infraestructure.Models.Usuario

@{
    ViewBag.Title = "Borrar Usuario";
}

<h2>Borrar</h2>

<h3>Seguro que quieres borrar?</h3>
@if (TempData["Message"] != null)
{
    string mensaje = @"<div class='alert alert-danger alert-dismissible' role='alert'><button type='button' class='close' data-dismiss='alert' aria-label='Close'>
<span aria-hidden='true'>&times;</span> </button>
<strong>Error!</strong> " + TempData["Message"] + " </div>";

@Html.Raw(mensaje);
}
<div>

    <hr />
    @using (Html.BeginForm("DeleteConfirmed", "Usuario", new { id = Model.Id }, FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Id)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Id)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Nombre)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Nombre)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Apellidos)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Apellidos)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Email)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Email)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Telefono)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Telefono)
            </dd>

            @*<dt>
                    @Html.DisplayNameFor(model => model.Username)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Username)
                </dd>*@

            @*<dt>
                    @Html.DisplayNameFor(model => model.PasswordHash)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.PasswordHash)
                </dd>*@

            <dt>
                @Html.DisplayNameFor(model => model.Rol)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Rol.Descripcion)
            </dd>

        </dl>




        <div class="form-actions no-color">
            <input type="submit" value="Borrar" class="btn btn-danger" /> |
            @Html.ActionLink("Volver a la Lista", "List")
        </div>
    }
</div>
